.olvido-clave {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.333333px;
    color: rgba(75, 81, 94, 0.67);
}

.custom-btn-login {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: bold !important;
    font-size: 14px !important;
    line-height: 20px !important;
    color: #FFFFFF;
    border-radius: 0.5rem !important;
}